<!DOCTYPE html>
<%- include("../pcpheader",{page_name:"pcp",section_name:'vault'}) %>

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <script async
        src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js">
    </script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ext-beautify.js" type="text/javascript"
        charset="utf-8"></script>


    <script src="/vault/chance.js"></script>
    <script src="/vault/payload.js"></script>
    <script src="/vault/address.js"></script>
    <script src="/vault/ppbutton.js"></script>
    <script src="/vault/hosted.js"></script>
    <script src="/vault/standalone-card.js"></script>
    <script src="/vault/scriptloader.js"></script>

    <style>
        .panel {
            margin: 0 2em !important;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="header"><u>
                        <center><mark>Customize the Vault experience and click on Save</mark> </center>
                    </u></h4>

                <button class="btn btn-md btn-save" style="position:sticky;top:0;z-index:100000000"
                    onclick="save()">Save
                </button>
                <br />

                <div class="options">
                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Environment </h5>
                            <select name="environment" class="form-control input-sm" style="color:#319DD4">
                                <option value="sandbox" selected>Sandbox</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Client ID
                                <span class="info">
                                    <br />
                                    - If you change this value, please enter Client Secret
                                </span>

                            </h5>
                            <input type="text" class="form-control input-sm" placeholder="Enter Client Id"
                                style="color:black" onchange="handleClientIDChange()" name="clientId"
                                value="AVajOV0VnH8tD0mWYqeWH22uB-DOIWPO5yRzmrqTCOeWx0oopJfeZl6NiL1NAITC3mKiTY1XuAT_mXeh">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Client Secret
                                <span class="info">
                                    <br />
                                    - If you change the Client ID, please enter this value
                                </span>
                            </h5>
                            <input type="password" class="form-control input-sm"
                                placeholder="Enter Client Secret if Client ID is changed" style="color:black"
                                name="clientSecret" disabled value="">
                        </div>
                    </div>

                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Is Partner ?</h5>
                            <select name="isPartner" id="isPartner" class="form-control input-sm control-sm"
                                style="color:black" onchange="partnerChange()">
                                <option value="Yes">Yes</option>
                                <option value="No" selected>No</option>
                            </select>
                        </div>
                    </div>


                    <div class="row hide" id="mspContainer">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Is Multi Seller Purchase (MSP) ? Applicable only for Partner Flow </h5>
                            <select name="isMSP" id="isMSP" class="form-control input-sm control-sm"
                                style="color:black">
                                <option value="Yes">Yes</option>
                                <option value="No" selected>No</option>
                            </select>
                        </div>
                    </div>


                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Merchant ID (Applicable and Required only for Partner Flow)
                                <span class="info"><br />
                                    - Ensure that the Merchants are onboarded using Partner Client ID
                                    <br />
                                    - Comma Separated values for Multi Seller Purchase <br />
                                    - Picks the first value from below for Single Seller Purchase <br />
                                </span>
                            </h5>

                            <input type="text" class="form-control input-sm" placeholder="Enter Merchant Id"
                                style="color:black" name="merchantId" value="3M5SFHD87UCNA,Z8CBBYH86KX3C">
                        </div>
                    </div>
                    <!-- 3M5SFHD87UCNA,Z8CBBYH86KX3C -->

                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Intent</h5>
                            <div class="segmented-control" style="width: 100%; color: #f7ae40">
                                <input type="radio" name="intent" id="intent-capture" data-value="capture" checked>
                                <input type="radio" name="intent" id="intent-auth" data-value="authorize">

                                <label for="intent-capture" data-value="capture">capture</label>
                                <label for="intent-auth" data-value="authorize">authorize</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Components</h5>

                            <div class="segmented-control" style="width: 100%;color:#8D74C0">
                                <input type="checkbox" name="components" id="sc-6-1-1" data-value="buttons"
                                    value="buttons">
                                <label for="sc-6-1-1" data-value="buttons">buttons</label>
                            </div>

                            <div class="segmented-control" style="width: 100%;color:#8D74C0">
                                <input type="checkbox" name="components" id="sc-6-1-2" data-value="hosted-fields"
                                    checked value="hosted-fields">
                                <label for="sc-6-1-2" data-value="hosted-fields">hosted-fields</label>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Customer ID (Required for Vaulting)

                                <span class="info"><br />
                                    - Please use a unique buyer for each unique Customer ID per merchant
                                    <br />
                                    - Use this same ID, when the buyer visits the site again to show the vaulted cards
                                </span>
                            </h5>
                            <input type="text" class="form-control input-sm" placeholder="Enter Customer Id"
                                style="color:black" name="customerId" value="CUSTOMER_123">
                        </div>
                    </div>

                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Locale</h5>
                            <select name="locale" class="form-control input-sm control-sm" style="color:#319DD4">
                                <% Object.entries(config.LOCALES).forEach(function([country, langs]){ 
                  langs.forEach(function(lang) { %>
                                <option value="<%= lang %>_<%= country%>">
                                    <%= lang %>_<%= country%>
                                </option>
                                <%   })
                %>

                                <% }); %>
                            </select>
                        </div>
                    </div>



                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Buyer Country</h5>
                            <select name="buyercountry" class="form-control input-sm control-sm" style="color:#319DD4">
                                <% Object.keys(config.COUNTRY).forEach(function(key){ %>
                                <option value="<%= config.COUNTRY[key] %>">
                                    <%- config.COUNTRY[key] %>
                                </option>
                                <% }); %>
                            </select>
                        </div>
                    </div>



                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Amount </h5>
                            <input type="number" value="5.00" name="amount" class="form-control input-sm control-sm" />
                        </div>
                    </div>

                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Currency</h5>

                            <select name="currency" class="form-control input-sm control-sm" style="color:#319DD4">
                                <% Object.keys(config.CURRENCY).forEach(function(key){ %>
                                <option value="<%= config.CURRENCY[key] %>">
                                    <%- config.CURRENCY[key] %>
                                </option>
                                <% }); %>
                            </select>
                        </div>
                    </div>

                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Hosted Fields Template</h5>
                            <select name="hostedFieldsType" id="hostedFieldsType"
                                class="form-control input-sm control-sm" style="color:black">
                                <option value="Bootstrap" selected>Bootstrap</option>
                                <option value="Animate">Animate</option>
                                <option value="3dtransform">3dtransform</option>
                                <option value="Minimal">Minimal</option>
                            </select>
                        </div>
                    </div>

                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>3DS Enabled ?</h5>
                            <select name="3dsEnabled" id="3dsEnabled" class="form-control input-sm control-sm"
                                style="color:black">
                                <option value="Yes">Yes</option>
                                <option value="No" selected>No</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Vaulting Enabled ?
                                <span class="info"><br />
                                    - Click on the save button again once you vault a card, to see the vaulted card
                                </span>
                            </h5>
                            <select name="vaultingEnabled" id="vaultingEnabled" class="form-control input-sm control-sm"
                                style="color:black">
                                <option value="Yes" selected>Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>

                    <!-- <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h5>Prefill Shipping Address ?</h5>
              <div class="segmented-control" style="width: 100%; color: #f7ae40">
                <input type="radio" name="prefill-shipping-address" id="prefill-shipping-address-true" data-value="true"
                  checked>
                <input type="radio" name="prefill-shipping-address" id="prefill-shipping-address-false"
                  data-value="false">

                <label for="prefill-shipping-address-true" data-value="true">true</label>
                <label for="prefill-shipping-address-false" data-value="false">false</label>
              </div>
            </div>
          </div>
         -->

                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Shipping Address Preference </h5>
                            <div class="segmented-control" style="width: 100%; color: #8D74C0">
                                <input type="radio" name="shipping-address-preference"
                                    id="shipping-address-preference-no" data-value="NO_SHIPPING">
                                <input type="radio" name="shipping-address-preference"
                                    id="shipping-address-preference-get" data-value="GET_FROM_FILE">
                                <input type="radio" name="shipping-address-preference"
                                    id="shipping-address-preference-set" data-value="SET_PROVIDED_ADDRESS" checked>

                                <label for="shipping-address-preference-no" data-value="NO_SHIPPING">NO_SHIPPING</label>
                                <label for="shipping-address-preference-get"
                                    data-value="GET_FROM_FILE">GET_FROM_FILE</label>
                                <label for="shipping-address-preference-set" data-value="SET_PROVIDED_ADDRESS"
                                    title="SET_PROVIDED_ADDRESS">SET_PROVIDED_ADDRESS</label>
                            </div>
                        </div>
                    </div>


                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Prefill Billing Address ?</h5>
                            <div class="segmented-control" style="width: 100%; color: #f7ae40">
                                <input type="radio" name="prefill-billing-address" id="prefill-billing-address-true"
                                    data-value="true" checked>
                                <input type="radio" name="prefill-billing-address" id="prefill-billing-address-false"
                                    data-value="false">

                                <label for="prefill-billing-address-true" data-value="true">true</label>
                                <label for="prefill-billing-address-false" data-value="false">false</label>
                            </div>
                        </div>
                    </div>

                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Set Locale ?</h5>
                            <div class="segmented-control" style="width: 100%; color: #5FBAAC">
                                <input type="radio" name="set-locale" id="set-locale-true" data-value="true" checked>
                                <input type="radio" name="set-locale" id="set-locale-false" data-value="false">

                                <label for="set-locale-true" data-value="true">true</label>
                                <label for="set-locale-false" data-value="false">false</label>
                            </div>
                        </div>
                    </div>


                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Set Buyer-Country ?</h5>
                            <div class="segmented-control" style="width: 100%; color: #8D74C0">
                                <input type="radio" name="set-buyercountry" id="set-buyercountry-true" data-value="true"
                                    checked>
                                <input type="radio" name="set-buyercountry" id="set-buyercountry-false"
                                    data-value="false">

                                <label for="set-buyercountry-true" data-value="true">true</label>
                                <label for="set-buyercountry-false" data-value="false">false</label>
                            </div>
                        </div>
                    </div>


                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Layout</h5>
                            <select name="layout" id="layout" class="form-control input-sm control-sm"
                                style="color:#319DD4">
                                <option value="vertical" selected>Vertical</option>
                                <option value="horizontal">Horizontal</option>
                            </select>
                        </div>
                    </div>


                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Color</h5>
                            <select name="color" id="color" class="form-control input-sm control-sm"
                                style="color:#319DD4">
                                <option value="gold" selected>Gold</option>
                                <option value="blue">Blue</option>
                                <option value="silver">Silver</option>
                                <option value="black">Black</option>
                                <option value="white">White</option>
                            </select>
                        </div>
                    </div>

                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Shape</h5>
                            <select name="shape" id="shape" class="form-control input-sm control-sm"
                                style="color:#319DD4">
                                <option value="rect" selected>Rectangle</option>
                                <option value="pill">Pill</option>
                            </select>
                        </div>
                    </div>

                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Label</h5>
                            <select name="label" id="label" class="form-control control-sm input-sm"
                                style="color:#319DD4">
                                <option value="paypal" selected>PayPal</option>
                                <option value="checkout">Checkout</option>
                                <option value="pay">Pay</option>
                                <option value="buynow">Buynow</option>
                                <option value="installment">Installment</option>
                            </select>
                        </div>
                    </div>


                    <div class="row hide">
                        <div class="col-md-10 col-md-offset-1">
                            <h5>Tagline ?</h5>
                            <select name="tagline" id="tagline" class="form-control input-sm control-sm"
                                style="color:#319DD4">
                                <option value="true">Yes</option>
                                <option value="false" selected>No</option>
                            </select>
                        </div>
                    </div>

                </div>

                <br />

                <button class="btn btn-md btn-save" onclick="save()">Save
                </button>

                <br /><br />


            </div>
            <div class="col-md-6 col-sm-12 col-xs-12" id="statusContainer">

                <div id="paypal-button" style="display:none"></div>
                <div id="paypal-error-container" style="display:none;color:red;font-weight:bold"></div>

                <br />
                <div id="hostedButton" style="display:none">
                    <div id="hcontainer">
                    </div>
                </div>

                <div id="consoleWindow" class="panel panel-primary" style="width:100%;background-color:black">

                    <div class="panel-heading" style="padding-bottom: 20px;">
                        <div>Playground Status</div>
                    </div>

                    <div class="panel-body" style="margin:0px;margin-bottom:10px;width:100%;overflow-y:auto;">
                        <div id="plgStatus" style="color:white;">
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <script>
        var customerId = localStorage.getItem("customerId");

        if (!customerId || customerId == "null" || customerId == "undefined")
            customerId = chance.string({
                length: 10,
                casing: 'upper',
                alpha: true,
                numeric: true
            });

        $("[name=customerId").val(customerId);

        loadPPAndHostedJS('hosted-fields');
    </script>

    <script>
        function handleClientIDChange() {
            let clientID = $("[name=clientId").val().trim();
            if (clientID === CLIENT_ID) {
                $("[name=clientSecret").attr("disabled", true);
                return;
            }
            $("[name=clientSecret").attr("disabled", false);
        }
    </script>

    <%- include("../footer",{page_name:"pcp",section_name:'home'}) %>

</body>

</html>